html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
::selection {
	color: none;
	background: 0 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
  max-width: 100%;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.section-title {
	font-size: 32px;
	line-height: 25px;
	font-weight: 700;
}
.h1,
h1 {
	font-size: 68px;
	line-height: 81px;
	font-weight: 700;
	letter-spacing: 1px;
}
.h2,
h2 {
	font-size: 75px;
	line-height: 82px;
	font-weight: 700;
}
.h3,
h3 {
	font-size: 28px;
	line-height: 34px;
	font-weight: 700;
}
.h4,
h4 {
	font-size: 23px;
	line-height: 25px;
	font-weight: 700;
}
.h5,
h5 {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}
.h6,
h6 {
	font-size: 14px;
	line-height: 25px;
	font-weight: 700;
}
p {
	font-size: 14px;
	line-height: 22px;
}
.text-small {
	font-size: 12px;
	line-height: 20px;
}
@font-face {
	font-family: iconfont;
	src: url(./fonts/iconfont.eot?1644181909038);
	src: url(./fonts/iconfont.eot?#iefix-1644181909038)
			format("embedded-opentype"),
		url(./fonts/iconfont.woff2?1644181909038) format("woff2"),
		url(./fonts/iconfont.woff?1644181909038) format("woff"),
		url(./fonts/iconfont.ttf?1644181909038) format("truetype");
	font-weight: 400;
	font-style: normal;
}
[class^="icon-"]::before,
[class*=" icon-"]::before {
	font-family: iconfont;
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-weight: 400;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	font-size: inherit;
	text-transform: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-discord::before {
	content: "\ea01";
}
.icon-minus::before {
	content: "\ea02";
}
.icon-plus::before {
	content: "\ea03";
}
.icon-twitter::before {
	content: "\ea04";
}
.icon-instagram::before {
	content: "\ea04";
}
.mint__container::before,
.mint__number::before,
.mint__container::after,
.mint__number::after {
	content: "";
	display: table;
}
.mint__container::after,
.mint__number::after {
	clear: both;
}
.wrapper {
	width: 100%;
	max-width: 1065px;
	padding: 0 20px;
	margin: 0 auto;
}
.has-cover {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}
.sr-only-focusable:focus,
.sr-only-focusable:active {
	clip: auto !important;
	-webkit-clip-path: none !important;
	clip-path: none !important;
	height: auto !important;
	margin: auto !important;
	overflow: visible !important;
	width: auto !important;
	white-space: normal !important;
}
body {
	margin: 0;
	padding: 0;
	font-family: lexend deca, sans-serif;
	font-weight: 400;
	position: relative;
	height: 100vh;
	width: 100vw;
	color: #fff;
}
@media only screen and (min-width: 120px) and (max-width: 767px) {
	body {
		height: 130vh;
	}
}
body::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: -1;
}
p {
	color: #000;
}
[class*="icon-"] {
	display: inline-block;
}
.container {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
}
.container__list {
	font-size: 0;
	margin-bottom: 20px;
}
.container__list-item {
	margin: 0 10px;
	display: inline-block;
	vertical-align: middle;
}
.container__list-link {
	display: inline-block;
	padding: 3px;
}
.container__list-img {
	height: 30px;
}
.icon-twitter,
.icon-discord {
	font-size: 30px;
	line-height: 35px;
	color: #fff;
}
.mint {
	margin: 0 auto;
	text-align: left;
	background-color: rgba(0, 0, 0, 0.5);
	-webkit-backdrop-filter: blur(16px);
	backdrop-filter: blur(16px);
	border-radius: 10px;
	max-width: 425px;
	padding: 32px;
}
.mint__title {
	font-size: 32px;
	line-height: 35px;
	margin-top: 10px;
	font-weight: 700;
}
.mint__subtitle {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	padding-top: 8px;
}
.mint__container {
	margin: 32px 0;
	padding: 12px 0;
}
.mint__img {
	width: 112px;
	border-radius: 10px;
	display: inline-block;
	vertical-align: middle;
}
.mint__text-container {
	float: right;
	text-align: right;
	display: block;
}
.mint__price-text {
	display: block;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 10px;
}
.mint__price {
	display: block;
	font-size: 22px;
	line-height: 25px;
	font-weight: 700;
}
.mint__public-sale {
	display: block;
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	padding-top: 8px;
	margin-bottom: 10px;
}
.mint__number {
	padding: 8px 10px;
	width: 100%;
	border-radius: 10px;
	background-color: #262727;
	margin-bottom: 32px;
}
.mint__btn-minus,
.mint__btn-plus {
	display: inline-block;
	vertical-align: middle;
	padding: 10px;
	cursor: pointer;
  background: none;
  border: none;
}
.icon-plus,
.icon-minus {
	color: #fff;
	font-size: 17px;
}
.mint__input-price {
	-webkit-appearance: none;
  outline: none;
	margin: 0;
	display: inline-block;
	vertical-align: middle;
	margin: 0 15px;
	margin-right: 6px;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	margin-left: 12px;
	color: #fff;
	background-color: transparent;
	border: none;
	text-align: center;
  max-width: 100px;
}
.mint__max {
	border: none;
	background-color: transparent;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	color: #fff;
	font-family: lexend deca, sans-serif;
	float: right;
	padding: 10px;
	cursor: pointer;
}
.mint__total {
	padding: 20px 0;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	height: 65px;
}
.mint__total-title {
	display: inline-block;
	margin-top: 2px;
	letter-spacing: 2.5px;
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;
}
.mint__total-price {
	float: right;
	font-size: 22px;
	line-height: 25px;
	font-weight: 700;
}
.mint__btn {
	position: relative;
	text-transform: uppercase;
	color: #fff;
	border: none;
	background: linear-gradient(142deg, #6c6c6c 0%, #930005 100%);
	border-radius: 10px;
	padding: 14px 15px;
	font-weight: 700;
	margin-top: 30px;
	width: 100%;
	font-size: 24px;
	line-height: 30px;
	cursor: pointer;
	display: inline-block;
	-webkit-transition: 0.3s;
	transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
button:disabled,
button[disabled] {
  cursor: not-allowed;
}
.mint__btn:hover::after {
	opacity: 0.7;
}
.btn__hide {
	display: none;
}
.btn__hide::after {
	content: "MINT";
}
@media only screen and (min-width: 120px) and (max-width: 1024px) {
	.container .wrapper {
		padding: 0 15px;
	}
	.mint {
		padding: 23px;
	}
	.mint__container {
		text-align: center;
	}
	.mint__img {
		margin-bottom: 35px;
	}
	.mint__text-container {
		float: none;
		text-align: center;
	}
	.mint__input-price {
		margin-right: 15px;
	}
}
.full-screen video {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.mx-3 {
  margin-left: 0.75rem/* 12px */;
  margin-right: 0.75rem/* 12px */;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.animate-spin {
  animation: spin 1s linear infinite;
}
.rounded-full {
  border-radius: 9999px;
}
.h-8 {
  height: 2rem;
}
.w-8 {
  width: 2rem;
}
.border-b-2 {
  border-bottom: 2px solid;
}
.border-red-700 {
  border-color: #1be8ec;
}